body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #FFA500; /* Orange */
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #fff;
}

section {
    padding: 2rem;
    text-align: center;
}

#what-is-matex {
    background-color: #FFA500; /* Orange */
    color: #000;
}

#key-features {
    background-color: #FFD700; /* Gold */
    color: #000;
}

#team {
    background-color: #FFD700; /* Gold */
    color: #000;
}

h2 {
    margin-bottom: 1rem;
    color: #000;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: #FFA500; /* Orange */
    border-radius: 5px;
    color: #000;
}

footer {
    background-color: #FFA500; /* Orange */
    padding: 1rem 0;
    text-align: center;
    color: #fff;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.team-member img {
    width: 150px;
    border-radius: 50%;
    margin-top: 1rem;
}

.member-details {
    text-align: center;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .team-member {
        flex-direction: column;
    }

    .team-member img {
        margin-top: 0;
    }
}
